<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TicTacToeSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE053CBD1EA5E60400A85841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE053CD11EA5E60400A85841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE053CDC1EA5E60400A85841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
